html, body {
  background-color: #663300;
}

#root {
  width: 100vw;
  height: 100vh;
}

.main {
  position: absolute;
  background-color: gray;
  border-radius: 20px;
  width: 90vw;
  height: 90vh;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-left: 5vw;
  min-height: 700px;
  min-width: 400px;
  overflow: hidden;
  z-index: 2;
}

.table {
  position: absolute;
  display: block;
  top: 10%;
  left: -5%;
  width: 110%;
  height: 90%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: green;
  z-index: -1;

}