.menu {
    position: absolute;
    bottom: 3%;
    left: 3%;
    height: 100px;
    width: 96%;
    border-radius: 10px;
    background-color: #630;
    vertical-align: center;
}

.meContainer {
    height: 25%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
}

.myCard {
    height: '20vw';
    width: '14vw';
}

.meTable {
    position: 'absolute';
    top: 10%;
    height: 90%;
    width: 100%;
}

.meTableCell {
    width: 50%;
    position: 'absolute';
}