{% extends 'main/base.html' %}

{% block content %}

<div class="title">
    <h1>POKER</h1>
</div>


{% if user.is_authenticated %}

    <div class='menu'>

        <div class='element'>
            <p class='text'>Join a game:</p>
            <form id="join_form" method='post' action="{% url 'game:join' %}">
                {% csrf_token %}
                <input
                    type="text"
                    placeholder="Enter a game name"
                    id="join_game" name="game_name_join"
                    class='text input'
                >
                <button type="submit" id="join_submit" class='text button'>SUBMIT</button>
            </form>
        </div>

        <div class='element'>
            <p class='text'>Create a game:</p>
            <form id="create_form" method='post' action="{% url 'game:create' %}">
                {% csrf_token %}
                <input
                    type="text"
                    placeholder="Enter a game name"
                    id="create_game"
                    name="game_name_create"
                    class='text input'>
                <button type="submit" id="create_submit" class='text button'>SUBMIT</button>
            </form>
        </div>

        <div class='element'>
            <a href="{% url 'main:log_out' %}" class='text button'>LOG OUT</a>
        </div>

    </div>

{% else %}
    <div class='menu'>

            <div class='largerElement'>
                <a href="{% url 'main:log_in' %}" class='text button'>LOG IN</a>
            </div>

            <div class='largerElement'>
                <a href="{% url 'main:register' %}" class='text button'>CREATE AN ACCOUNT</a>
            </div>

    </div>

{% endif %}

{% endblock content %}